

@media screen and (min-width: 0px) and (max-width: 499px) {
  .logo-footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-image: url(/assets/mark/logo-footer.svg);
    background-size: 200% 100%;
    margin-top: -350px;
  }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  .logo-footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-image: url(/assets/mark/logo-footer.svg);
    background-size: 150% 100%;
    margin-top: -25px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1499px) {
  .logo-footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-image: url(/assets/mark/logo-footer.svg);
    background-size: 130% 100%;
    margin-top: -50px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 2499px) {
  .logo-footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-image: url(/assets/mark/logo-footer.svg);
    background-size: 100% 100%;
    margin-top: -50px;
  }
}

@media screen and (min-width: 2500px) {
  .logo-footer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    background-image: url(/assets/mark/logo-footer.svg);
    background-size: 130% 100%;
    margin-top: -50px;
  }
}




@media screen and (min-width: 0px) and (max-width: 499px) {
  .search {
    height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 0px;
    border: 1px solid grey;
    width: 34%;
  }

  a.navbar-brand {
    font-size: x-large;
    margin-left: 6%;
    z-index: 10;
    color: #ffffff;
  }
  .navbar-toggler {
    z-index: 10;
  }
  .vcpkg-nav-color {
    color: #f3f3f3;
  }

  .docs-left-scroll {
    position: 'fixed';
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1005;
  }

  .docs-mobile-show {
    display: block;
    border: 1px solid #8a8886;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 30px;
  }

  .docs-mobile-show:hover {
    cursor: pointer;
  }

  .docs-mobile-show-table {
    padding: 5px;
    vertical-align: text-bottom;
  }

  .nav-vcpkg-bar {
    background: blue;
  }

  .search-box {
    background: #ffffff;
    border: 1px solid #8a8886;
    box-sizing: border-box;
    border-radius: 2px;
    width: 90%;
    padding: 3px 8px;
  }

  .docs-mobile-heading {
    display: inline-block;
    margin-bottom: 12%;
    margin-left: 7%;
  }

  .docs-mobile-exit {
    display: inline;
    float: right;
    cursor: pointer;
  }

  .mobile-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #002359;
    z-index: 5;
  }
  
  
  .footer-info {
    position: absolute;
    display: flex;
    margin-top: 200px;
    width: 100%;
  }
  .footer-right {
    display: flex;
    margin-right: 0%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .footer-group-logo {
    display: none;
  }
  .mobile-margin {
    margin-top: 15%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .search {
    height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 0px;
    border: 1px solid grey;
    width: 34%;
  }

  a.navbar-brand {
    font-size: x-large;
    margin-left: 6%;
    z-index: 10;
    color: #ffffff;
  }
  .navbar-toggler {
    z-index: 10;
  }
  .vcpkg-nav-color {
    color: #f3f3f3;
  }

  .docs-left-scroll {
    position: 'fixed';
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1005;
  }

  .docs-mobile-show {
    display: block;
    border: 1px solid #8a8886;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 30px;
  }

  .docs-mobile-show:hover {
    cursor: pointer;
  }

  .docs-mobile-show-table {
    padding: 5px;
    vertical-align: text-bottom;
  }

  .nav-vcpkg-bar {
    background: blue;
  }

  .search-box {
    background: #ffffff;
    border: 1px solid #8a8886;
    box-sizing: border-box;
    border-radius: 2px;
    width: 90%;
    padding: 3px 8px;
  }

  .docs-mobile-heading {
    display: inline-block;
    margin-bottom: 12%;
    margin-left: 7%;
  }

  .docs-mobile-exit {
    display: inline;
    float: right;
    cursor: pointer;
  }

  .mobile-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #002359;
    z-index: 5;
  }
  
  .footer-info {
    position: absolute;
    display: flex;
    margin-top: 550px;
    width: 100%;
  }
  .footer-right {
    display: flex;
    margin-right: 7%;
    width: 40%;
    flex-direction: row-reverse;
  }
  .footer-group-logo {
    margin-right: 5px;
  }

  .mobile-margin {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 2%;
  }
}

@media screen and (min-width: 992px) {
  .search {
    height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
    padding-left: 0px;
    border: 1px solid grey;
    width: 18%;
  }

  a.navbar-brand {
    font-size: x-large;
    margin-left: 6.5%;
    z-index: 10;
  }
  .navbar-toggler {
    z-index: 0;
  }
  .vcpkg-nav-color {
    color: normal;
  }

  .docs-mobile-show {
    display: none;
  }

  .search-box {
    background: #ffffff;
    border: 1px solid #8a8886;
    box-sizing: border-box;
    border-radius: 2px;
    width: 75%;
    padding: 3px 8px;
  }

  .docs-mobile-heading {
    display: none;
  }

  .docs-mobile-exit {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .footer-info {
    position: absolute;
    display: flex;
    margin-top: 550px;
    width: 100%;
  }
  .footer-right {
    display: flex;
    margin-right: 7%;
    width: 40%;
    flex-direction: row-reverse;
  }
  .footer-group-logo {
    margin-right: 5px;
  }

  .mobile-margin {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 2%;
  }
}

body {
  padding-top: 75px;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: rgb(0, 0, 0);
  background: #f1f1f2;
  word-break: break-all;
  font-size: 15px;
}

pre {
  background: #f1f1f2;
  padding: 15px;
  border-radius: 5px;
}

h1,
h2 {
  font-weight: bold;
}



.selected {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #005bff;
  text-underline-offset: 2px;
}

.copy-btn {
  float: right;
  width: 1.5rem;
  fill: white;
}

.copy-btn:hover {
  cursor: pointer;
}

.alert {
  margin: 0px;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 1vw;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #005bff;
  text-underline-offset: 2px;
}

.navbar-background {
  background: #ffffff;
}

.navbar-right-margin {
  margin-right: 5%;
}

.bottom-border {
  margin-bottom: 5vh;
}

html {
  overflow-x: hidden;
}

footer {
  background-color: #4970aa;
  color: #ffffff;
}

footer p {
  color: #ffffff;
}

.footer-text {
  font-size: 16px;
}

.ms-logo-footer {
  height: 60px;
  width: auto;
}

.no-marg {
  margin-top: 18px;
}

.privacy {
  text-decoration: none;
  color: #ffffff;
}

.privacy:hover {
  color: #ffffff;
}

.flex {
  display: flex;
}

.left-marg {
  margin-left: 3vw;
}

.neg-marg {
  margin-left: -2.5rem;
}

.right-align {
  text-align: right;
}

.inline {
  display: inline;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

.tip-text {
  float: right;
  display: none;
  color: white;
  margin-right: 10px;
}

.copy:hover > .tip-text {
  display: inline-block;
}

.copy {
  display: inline;
}

.footer-info-group {
  margin-left: 6%;
  position: relative;
  z-index: 1;
  width: 100px;
  margin-right: 0%;
}







.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

.footer-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

ul > ul.collapse {
  display: none;
}

ul > ul.expand {
  display: block;
}

a.section-selected {
  color: #005bff;
}

a.section-selected:hover {
  color: #005bff;
}

.absolute-top {
  position: absolute;
}

.search-item {
  list-style: none;
  z-index: 2;
  width: 100%;
}

.search-item-no-results {
  list-style: none;
  z-index: 2;
  width: 100%;
}

.search-item:hover {
  background: #F3F3F3

}

.docs-navigation {
  z-index: -1;
}

.docs-section {
  z-index: -1;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.span-block {
  display: block;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

.list-expanded {
  list-style-image: url('/assets/misc/Shape.svg');
  cursor: pointer;
  padding: 2px;
}

.list-can-expand {
  list-style-image: url('/assets/misc/Arrow.svg');
  cursor: pointer;
  padding: 2px;
}

.list-no-icon {
  list-style: none;
  padding: 2px;
}

#currentPath {
  color: #005bff;
  font-weight: bold;
}

.treeview-link {
  color: #222222;
}

.treeview-link:hover {
  color: #222222;
  text-decoration: none;
}

.search-bar {
  margin-left: 7%;
  margin-bottom: 3%;
  width: 100%;
}

.pkg-search-bar {
  margin-left: 7%;
  margin-bottom: 3%;
  width: 100%;
}


.footer-left {
  display: flex;
  width: 50%;
  margin-left: 7%;
}

.footer-link {
  color: #ffffff;
}
a.footer-link {
  text-decoration: none;
  color: #ffffff;
}

.docs-nav {
  display: none;
  position: fixed;
  top: 50px;
  height: fit-content;
  width: 100%;
  background: #f3f3f3;
  z-index: 10;
}

.docs-flex {
  display: flex;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 45px;
}

.docs-column {
  padding: 10px;
  position: relative;
  width: 250px;
}

ul.docs-col-section {
  padding: 5%;
  list-style: none;
}

li.docs-col-bold {
  font-weight: bold;
}

.docs-nav-link {
  color: #222222;
}

.docs-nav-link:hover {
  color: blue;
  text-decoration: none;
}

.mobile-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #002359;
  z-index: 5;
}



.mobile-nav-list {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
  list-style: none;
}

.mobile-nav-item {
  margin-bottom: 8%;
  margin-top: 8%;
}

.mobile-docs-list {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-top: -8%;
  list-style: none;
  padding-left: 0px;
  padding-top: 10px;
}

.navbar-mobile {
  color: #f1f1f2;
}
.navbar-mobile:hover {
  color: #f1f1f2;
  text-decoration: none;
}

span.navbar-close {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(/assets/misc/exit.svg);
  background-size: 100% 100%;
}

.docs-mobile-outline {
  margin: 10%;
}

.instructions-windows,
.instructions-linux,
.instructions-features {
  cursor: pointer;
  margin-right: 10px;
}

.instructions-features:hover,
.instructions-windows:hover,
.instructions-linux:hover {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #005bff;
  text-underline-offset: 2px;
}

.instructions {
  margin: 0px;
}

.windowsText,
.linuxText,
.featureText {
  background: #f1f1f2;
  width: 100%;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  margin: 10px;
}

.vcpkg-page-link {
  color: blue;
  cursor: pointer;
}

.bold-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: auto;
  text-decoration: none!important;
}

.feature-list {
  list-style: none;
  padding-left: 0px;
}

.standard-padding {
  padding-left: 15px;
}

.anchor-padding {
  padding-left: 0px;
}

.spec-only {
  height: 500px;
}

.search-item-docs,
.search-item-docs:hover {
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.doc-outline-link {
  color: #222222;
}
.doc-outline-link:hover {
  text-decoration: none;
  color:#222222;
}