.tablist{
    background: #605E5C;
    border: none;
}

.tab-panel{
    background: #F1F1F2;
    width: 100%;
    padding: 10px;
    resize: none;
    border: none;
}

.tab-btn{
    background: none;
    border: none;
    padding: 10px 20px;
    color: white;
}

.selected{
    font-weight: bolder;
}

.copy-btn{
    float: right;
    width: 1.5rem;
    fill: white;
    margin: 10px;
}
