@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    padding-top: 75px;
}

.header-text {
    color: #014380;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

.tablist {
    background: #605e5c;
    border: none;
    padding: 0.75rem;
    height: 3rem;
}

.tab-panel {
    background: #f1f1f2;
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: none;
    font-family: 'Inconsolata', monospace;
}

.tab-btn {
    background: none;
    border: none;
    padding: 0 10px;
    color: white;
}

.tab-btn:hover {
    font-weight: bolder;
}

.tab-btn:focus {
    outline: none;
}

.selected {
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.copy-btn {
    float: right;
    width: 1.5rem;
    fill: white;
}

.alert {
    margin: 0px;
}

.navbar-brand {
    font-size: 2rem;
    margin-left: 5vw;
    margin-right: 2vw;
}

.nav-link {
    font-size: 1.2rem;
    margin-right: 1vw;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.bottom-border {
    margin-bottom: 5vh;
}

html {
    overflow-x: hidden;
}

footer {
    background-color: #4970aa;
    color: #ffffff;
}

footer p {
    color: #ffffff;
}

.footer-text {
    font-size: 16px;
}

.ms-logo-footer {
    height: 60px;
    width: auto;
}

.no-marg {
    margin-top: 18px;
}

.privacy {
    text-decoration: none;
    color: #ffffff;
}

.privacy:hover {
    color: #ffffff;
}

.flex {
    display: flex;
}

.left-marg {
    margin-left: 3vw;
}

.neg-marg {
    margin-left: -2.5rem;
}

.right-align {
    text-align: right;
}

.inline {
    display: inline;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}

code {
    color: #4970aa;
}
