.tablist {
    background: #605e5c;
    border: none;
    padding: 0.75rem;
    height: 3rem;
}

.tab-panel {
    background: #f1f1f2;
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: none;
}

.tab-btn {
    background: none;
    border: none;
    padding: 0 10px;
    color: white;
}

.tab-btn:hover {
    font-weight: bolder;
}

.tab-btn:focus {
    outline: none;
}

.selected {
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.copy-btn {
    float: right;
    width: 1.5rem;
    fill: white;
}

.alert {
    margin: 0px;
}

.navbar-brand {
    font-size: 1.3vw;
    margin-left: 5vw;
    margin-right: 2vw;
}

.nav-link {
    font-size: 0.9vw;
    margin-right: 1vw;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.bottom-border {
    margin-bottom: 5vh;
}
