.page-title{
    font-size: 2rem;
    color: #014380;
}

img.nav-icon {
    max-width: 20px;
    height: auto;
}
  
img.nav-icon:hover {
    text-decoration: none;
}

.section-title {
    color: #4970AA;
    font-size: 1.5rem;
}

.terminal {
    border-radius: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0, 0.05);
}
.no-display {
    list-style-type: none;
}

.space {
    margin-top: 8vh;
}

.bg {
    background-color: rgba(0,0,0, 0.1);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

p {
    margin: 0;
}
