img.nav-icon {
  max-width: 20px;
  height: auto;
}

img.nav-icon:hover {
  text-decoration: none;
}

.section-title {
  color: #4970aa;
  font-size: 1.5rem;
}

.no-display {
  list-style-type: none;
}

.space {
  margin-top: 3vh;
}

.bg {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

p {
  margin: 0;
}

.link {
  text-decoration: underline;
}

.text-desc {
  padding-bottom: 10px;
}

.centered {
  display: flex;
  justify-content: space-around;
}

.windows,
.linux,
.mac,
.unix {
  display: none;
}

.show {
  display: block;
}
