@media screen and (min-width: 1500px) {
  .page {
    margin: 70px auto;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  .header-text-getting-started {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin: 70px auto;
    max-width: 1500px;
    width: 85%;
  }

  .header-text-getting-started h1 {
    font-size: 34px;
  }

  .right-side-getting-started {
    position: relative;
    margin-left: 5%;
    width: auto;
  }

  .left-side-getting-started {
    position: relative;
    width: 100%;
    margin-left: 4%;
  }

  .left-side {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 400px;
    top: 10%;
    bottom: 10%;
    margin-top: 0%;
    left: auto;
    background-color: none;
    box-shadow: none;
    margin-left: 1%;
  }

  .right-side {
    position: relative;
    margin-left: 34%;
    width: 70%;
    min-height: 1000px;
  }
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .left-side-getting-started {
    position: relative;
    width: 100%;
    margin-left: 4%;
  }
  .header-text-getting-started {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin-left: 7.5%;
    margin-top: 70px;
  }
  .page {
    margin-top: 70px;
    margin-left: 4%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }

  .right-side-getting-started {
    position: relative;
    margin-left: 5%;
    width: auto;
  }

  .left-side {
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 75%;
    margin-top: 0%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2005;
    background-color: #ffffff;

    box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.13), 0px 1.2px 3.6px rgba(0, 0, 0, 0.1);
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 10%;
  }
  .right-side {
    position: relative;
    margin-left: 5%;
    width: 100%;
    min-height: 1000px;
    overflow-wrap: break-word;
  }
}

@media screen and (min-width: 992px) and (max-width: 1499px) {
  .left-side-getting-started {
    position: relative;
    width: 25%;
    margin-left: 3%;
  }
  .page {
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
  }

  .right-side-getting-started {
    position: relative;
    margin-left: 10%;
    width: 65%;
    padding-top: 60px;
  }

  .left-side {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    width: 24%;
    top: 10%;
    bottom: 10%;
    margin-top: 0%;
    left: auto;
    background-color: none;
    box-shadow: none;
    margin-left: 1%;
  }

  .right-side {
    position: relative;
    margin-left: 34%;
    width: 70%;
    min-height: 1000px;
  }

  .header-text-getting-started {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin-left: 7.5%;
    margin-top: 70px;
  }
}

img.nav-icon {
  max-width: 20px;
  height: auto;
}

img.nav-icon:hover {
  text-decoration: none;
}

.space {
  margin-top: 3vh;
}

.bg {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

p {
  margin-top: 9px;
  margin-bottom: 9px;
}

.link {
  text-decoration: underline;
  color: #006ee5;
}

.windows,
.linux,
.mac,
.unix {
  display: none;
}

.show {
  display: block;
}

.text-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #222222;
  margin-bottom: 25px;
  z-index: 1;
}

.code {
  background: #f1f1f2;
  width: 100%;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  font-size: 15px;
  font-family: 'Source Code Pro', var(--font-family-monospace);
}

.code-inline {
  background: #f1f1f2;
  padding: 3px;
  font-size: 15px;
  font-family: 'Source Code Pro', var(--font-family-monospace);
}

.prerequisite-list {
  margin-top: 40px;
  margin-right: 10%;
}

.anchor-link {
  padding-top: 100px;
  margin-top: -100px;
}

.tab-btn {
  background: none;
  border: none;
  padding: 0 0px;
  margin-right: 5px;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
}

.tab-btn:hover {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #005bff;
  text-underline-offset: 2px;
}

.text-heading, .text-heading h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
  z-index: 1;
}
