header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F1f1F2;
}

.title-container {
    text-align: center;
    margin: 0 auto;
}

.title-text{
    text-align: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.vcpkg-title{
    font-size: 72px;
    color: #014380;
}
.logo-img{
    max-width: 40%;
    height: auto;
    display: inline-block;
}

.title-buttons{
    padding-top: 20px;
}

.questions{
  color: #014380;
  text-align: center;
  padding-top: 20px;
}

.examples{
  background-color: #4970AA;
  color: white;
  text-align: center;
  margin: 0;
}

.what-is{
  margin-left: 15%;
  margin-right: 15%;
}

.blank-space{
  border:none;
}

.border-custom{
  padding: 0;
  border: 1px solid #4970AA;
}

.why-us-row{
  justify-content: center;
}
.why-us-text{
  text-align: center;
}

.margins{
  margin-left: 5px;
  margin-right: 5px;
}

.padding{
  padding: 15px;
}

img.nav-icon {
  max-width: 20px;
  height: auto;
}

img.nav-icon:hover {
  text-decoration: none;
}

h1 {
  color: #4970AA;
}

p {
  color: Black;
}

.vc-btn {
  background-color: #4970AA;
  color: #ffffff;
  text-align: center;
  margin: 5px;
}
