@media screen and (min-width: 500px) and (max-width: 749px) {
  .logo-design-second-upper {
    position: absolute;
    width: 450px;
    height: 500px;
    margin-top: 200px;
    right: 0px;
  }
  .logo-design-first-upper {
    position: absolute;
    left: -30px;
    height: 500px;
    width: 500px;
    margin-top: 0px;
  }
  .header-text-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 100px;
    margin-left: 125px;
  }
  .questions {
    text-align: center;
    padding-top: 116px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 850px;
  }
}
@media screen and (min-width: 750px) and (max-width: 999px) {
  .logo-design-second-upper {
    position: absolute;
    width: 590px;
    height: 640px;
    margin-top: 200px;
    right: 0px;
  }
  .logo-design-first-upper {
    position: absolute;
    left: -80px;
    top: 80px;
    height: 750px;
    width: 750px;
    margin-top: 0px;
  }
  .header-text-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 110px;
    margin-left: 145px;
  }
  .questions {
    text-align: center;
    padding-top: 116px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 850px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1499px) {
  .logo-design-second-upper {
    position: absolute;
    height: 750px;
    width: 750px;
    margin-top: 200px;
    right: 0px;
  }

  .logo-design-first-upper {
    position: absolute;
    left: -80px;
    top: 80px;
    height: 750px;
    width: 750px;
    margin-top: 0px;
  }
  .header-text-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
  }
  .questions {
    text-align: center;
    padding-top: 116px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 950px;
  }
}

@media screen and (min-width: 1500px) {
  .logo-design-second-upper {
    position: absolute;
    height: 750px;
    width: 750px;
    margin-top: 200px;
    right: 0px;
}

  .logo-design-first-upper {
    position: absolute;
    top: 80px;
    height: 750px;
    width: 750px;
    margin-top: 0px;
  }

  .margin-box {
    margin: 0 auto;
    max-width: 1500px;
  }

  .header-text-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 140px;
    margin-left: 200px;
}
.questions {
  text-align: center;
  padding-top: 116px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 950px;
}
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .why-us-box-shadow {
    background: #ffffff;
    box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13), 0px 0.3px 0.9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  

  .why-us-group {
    display: block;
    width: 50%;
  }

 

  .vcpkg-center-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 330px;
    margin-left: 30%;
    margin-right: 30%;
    z-index: 10;
  }


}
@media screen and (min-width: 992px) {
  .why-us-box-shadow {
    background: #ffffff;
    box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13), 0px 0.3px 0.9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .why-us-group {
    display: block;
    width: 50%;
  }

  .vcpkg-center-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 360px;
    margin-left: 30%;
    margin-right: 30%;
  }

  
}

@media screen and (min-width: 0px) and (max-width: 499px) {
  .logo-design-first-lower {
    display: none;
  }
  
  .logo-design-second-upper {
    display: none;
  }
  
  .logo-design-second-lower {
    display: none;
  }

  .logo-design-first-upper {
    display: none;
    position: absolute;
    left: -80px;
    height: 450px;
    width: auto;
    margin-top: 0px;
  }

  .why-us-group {
    display: block;
    width: 100%;
  }

  .header-text-block {
    word-wrap: normal;
    position: absolute;
    left: 40px;
    margin-top: 30px;
  }

  .vcpkg-center-block {
    word-wrap: normal;
    position: absolute;
    margin-top: 320px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .questions {
    text-align: center;
    padding-top: 116px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 700px;
  }
}



header.masthead {
  position: relative;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f1f1f2;
}

a:hover {
  text-decoration: none;
}

.title-container {
  text-align: center;
  margin: 0 auto;
}

.title-text {
  text-align: center;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.vcpkg-title {
  font-size: 72px;
  color: #014380;
}
.logo-img {
  max-width: 40%;
  height: auto;
  display: inline-block;
}

.title-buttons {
  padding-top: 20px;
}

.search-bar {
  padding: 40px 20px 0px 20px;
  text-align: center;
  border: 0;
}

::placeholder {
  color: #4970aa;
  font-weight: bold;
}

.idx-search-box {
  border: #4970aa solid 2px;
  outline: 0;
  border-radius: 1.6rem;
  background-color: #ffffff;
  padding: 5px 10px;
  width: 75%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.questions2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: #222222;
}

.title {
  display: flex;
  background-color: #4970aa;
  min-height: 90px;
  color: white;
  align-items: center;
  justify-content: center;
}

.examples {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0px;
}

.what-is {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.border-custom {
  padding: 0;
  border: 1px solid #4970aa;
}

.why-us-row {
  justify-content: center;
}
.why-us-text {
  text-align: center;
  font-size: 20px;
}

.stay {
  margin-bottom: 30px;
  text-align: center;
}

.why-us {
  padding-bottom: 50px;
}

.why-us-box {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
}

.padding {
  padding: 15px;
}

.col-container {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
}

img.nav-icon {
  max-width: 20px;
  height: auto;
}

img.nav-icon:hover {
  text-decoration: none;
}

.vcpkg-name {
  z-index: 1;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
}

.header-block {
  z-index: -1;
}

.vcpkg-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #002359;
}

.vcpkg-center-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
}

.vcpkg-center-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}





.vcpkg-btn-left {
  padding: 7px 20px;
  background: #005bff;
  color: #ffffff;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  text-decoration: none;
  border: 0.5px solid #005bff;
  box-sizing: border-box;
  border-radius: 4px;
}

.vcpkg-btn-left:hover {
  text-decoration: none;
  color: #ffffff;
}

.vcpkg-btn-right:hover {
  text-decoration: none;
  color: #005bff;
}

.vcpkg-btn-right {
  padding: 7px 20px;
  background: #ffffff;
  color: #005bff;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  text-decoration: none;

  border: 0.5px solid #005bff;
  box-sizing: border-box;
  border-radius: 4px;
}


.why-us-flexbox {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  position: relative;
  flex-wrap: wrap;
  padding: 20px;
}

.why-us-icon {
  display: block;
  margin: 20px auto;
  padding-top: 50px;
}

.why-us-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.why-us-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  color: #4970aa;
}

p {
  color: Black;
}

.vc-btn {
  background-color: #4970aa;
  color: white;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 5px;
  padding: 10px;
  width: 100%;
}

.button:hover {
  background-color: #4879c4;
  text-decoration: none;
}

.hide {
  display: none;
}

.table-row {
  margin: 0px auto;
}

.table-center {
  margin: 0px auto;
  table-layout: fixed;
  padding: 40px 30px;
  display: block;
}