header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f1f1f2;
}

.title-container {
    text-align: center;
    margin: 0 auto;
}

.title-text {
    text-align: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.vcpkg-title {
    font-size: 72px;
    color: #014380;
}
.logo-img {
    max-width: 40%;
    height: auto;
    display: inline-block;
}

.title-buttons {
    padding-top: 20px;
}

.search-bar {
    padding: 40px 20px 0px 20px;
    text-align: center;
    border: 0;
}

::placeholder {
    color: #4970aa;
    font-weight: bold;
}

.idx-search-box {
    border: #4970aa solid 2px;
    outline: 0;
    border-radius: 1.6rem;
    background-color: #ffffff;
    padding: 5px 10px;
    width: 75%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.questions {
    color: #4970aa;
    text-align: center;
    padding-top: 116px;
}

.questions2 {
    color: #4970aa;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-top: 7rem;
}

.title {
    display: flex;
    background-color: #4970aa;
    min-height: 90px;
    color: white;
    align-items: center;
    justify-content: center;
}

.examples {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0px;
}

.what-is {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.blank-space {
    border: none;
}

.border-custom {
    padding: 0;
    border: 1px solid #4970aa;
}

.why-us-row {
    justify-content: center;
}
.why-us-text {
    text-align: center;
    font-size: 20px;
}

.stay {
    margin-bottom: 30px;
    text-align: center;
}

.why-us {
    padding-bottom: 50px;
}

.why-us-box {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}

.padding {
    padding: 15px;
}

.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

img.nav-icon {
    max-width: 20px;
    height: auto;
}

img.nav-icon:hover {
    text-decoration: none;
}

h1 {
    color: #4970aa;
}

p {
    color: Black;
}

.vc-btn {
    background-color: #4970aa;
    color: white;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.media-link {
    padding: 0px;
}

.button:hover {
    background-color: #4879c4;
    text-decoration: underline;
}

.media-link-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}

.media-link-img {
    max-width: 5vw;
    height: auto;
}

.media-link-img-big {
    max-width: 6.2vw;
    height: auto;
}

.media-link-img-small {
    max-width: 4vw;
    height: auto;
    margin-bottom: 1vh;
}

.margin-bot {
    margin-bottom: 0.7vh;
}

#stay-in-touch {
    margin-bottom: 5vh;
}

.hide {
    display: none;
}

.gif {
    max-width: 70vw;
    height: auto;
}
