header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F1f1F2;
}

.title-container {
    text-align: center;
    margin: 0 auto;
}

.title-text{
    text-align: center;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.vcpkg-title{
    font-size: 72px;
    color: #014380;
}
.logo-img{
    max-width: 40%;
    height: auto;
    display: inline-block;
}

.title-buttons{
    padding-top: 20px;
}

.questions{
  color: #014380;
  text-align: center;
}

.examples{
  background-color: #4970AA;
  color: white;
  text-align: center;
}

img.nav-icon {
  max-width: 25px;
  height: auto;
}

img.nav-icon:hover {
  text-decoration: none;
}

h1 {
  color: #4970AA;
}

p {
  color: Black;
}

.vc-btn {
  background-color: #4970AA;
  color: #ffffff;
  text-align: center;
  margin: 5px;
}
