@media screen and (min-width: 0px) and (max-width: 499px) {

    .flex-wrapper{
        display: flex;
        flex-direction: column;
    }

    .sidebar-container{
        order: 1;
    }
    .active-container {
        order: 2; 
        width: 100%;
    }

    .tab{
        font-size: 12px;
        font-weight: 600;
    }

    .active-header{
        font-size: 20px !important;
        padding-block-start: 5px;
    }

    .version-badges li{
        width: 30% !important;
    }
}

.flex-wrapper{
    display: flex;
}
.package-page-wrapper{
    margin:0 auto;
    width: 80%;
}

.package-name-header{
    padding-inline: 15px;
    margin:0 auto;
    width: 100%;
    min-height: 100px;
}

.name-version-container{
    display: flex;
}

.package-name{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    padding-inline-end: 15px;
}

.package-version{
    font-size: 42px;
    color: grey;
    margin: 0;
    padding: 0;
}

.package-description{
    word-wrap: break-word;
}

.tab-container{
    border: #000;
    display: flex;
}

.dependencies-tab{
   border:#000;
   padding-inline: 5px;
}

.versions-tab{
   border: #000;
   padding-inline: 5px;
}

.port-content-tab{
   border: #000;
   padding-inline: 5px;
}

.tab-container{
    margin-block-end: 0;
}

ul.tab-container {
    display: flex;
    padding-inline: 0;
    margin-inline-start: 0px;
    margin-block-start: 10px;
}

.tab {
    list-style-type: none;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px 5px 0 0;
    user-select: none;
}

.tab:hover{
    background-color: #f0f0f0;

}

.active-tab, .tab.active-tab:hover {
    background-color: #ddd;
}

.active-tab{
    background-color: #ddd;
}

.active-container{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.tab-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

.active-header{
    font-size: 32px;
    font-weight: 700;
}

#dependencies-content, #features-content, #versions-content, #port-content {
    border-top: 1px solid #c3c3c3;
}

.dependency-card{
    border: 1px solid #403d3d21;
    box-shadow: 1px 1px 1px 1px #f5f2f2;
    padding-inline-start: 5px;
    padding-inline-end: 15px;
    margin-block-end: 10px;
    border-radius: 5px;
    display: flex;
    color: black;
}

.dependency-card:hover{
    text-decoration: none;
    color: #000;
    box-shadow: 1px 1px 1px 1px #c3c3c3;
}

.dependency-card .section-one{
    font-size: 18px;
    flex: 1;
    padding-block-start: 15px;
    padding-inline-start: 15px;
    margin-block-end: 15px;

    .dep-name{
        font-weight: 700;
        color: #000;
        font-size: 19px;
    }

    .dep-version-min{
        font-size: 16px;
        color: grey
    }

    .dep-platform{
        font-size: 12px;
    }

}

.dependency-card .section-two{
    flex: 2;
    padding-block-start: 15px;
}

.dep-features{
    display: flex;
    flex-direction: column;
}

.dep-features-title{
    flex: 1;
    padding-inline-start: 5px;
    text-align: left;
    font-weight: 600;
}

.dep-features-preview{
    flex: 2;
    border-inline-start: 2px solid #c9c7c7;
    padding-inline-start: 5px;
    text-align: left;
    font-size: 12px;
}

.dep-host{
    font-size:12px;
    font-weight: 400;
}

.dep-card-logo{
    width: 8px;
    height: 8px;
}

.dep-no-default-feat{
    font-size: 12px;
}

.feature-card{
    border: 1px solid #403d3d21;
    box-shadow: 1px 1px 1px 1px #f5f2f2;
    margin-block-end: 10px;
    padding-block-end: 10px;
    border-radius: 5px;
    display: flex;
}

.feature-card .section-one{
    flex: 1;
    font-size: 18px;
    padding-block-start: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    margin-block-end: 15px;
    align-content: center;

    .feature-name{
        font-weight: 700;
        color: #000;
        font-size: 19px;

        .feature-description{
            color: grey;
            font-size: 14px;
            word-wrap: break-word;
        }
    }

    
}

.feature-card .section-two{
    flex: 2;
    margin-block-start: 20px;
    padding-inline-start: 5px;

    .dependency-title{
        font-size: 16px;
        font-weight: 600;
        padding-inline-start: 15px;
    }

    .no-dependencies{
        text-align: center;
    }
}

.feature-dep-card{
    margin-block: 10px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding-inline-start: 8px;
    border-left: 2px solid #c9c7c7;
    color: black;
    text-decoration: none;
    .feature-dep-name{
        font-size: 16px;
    }
    .feature-dep-feature{
        font-size: 14px;
    }
    .feature-dep-no-default{
        font-size: 14px;
    }

    .feature-dep-platform{
        font-size: 14px;
    }
}

.feature-dep-card:hover{
    border-left: 3px solid #c9c7c7;
}

.no-features{
    border: 1px solid #403d3d21;
    box-shadow: 1px 1px 1px 1px #f5f2f2;
    margin-block-end: 10px;
    border-radius: 5px;
    text-align: center;
}
.sidebar-container{
    flex: 1;
    padding-inline-start: 15px;
}

.sidebar-header{
    font-size: 20px;
    font-weight: 800;
    padding-block-end: 5px;
}

.sidebar-description{
    font-size: 10px;
}

.sidebar-logo{
    width: 16px;
    height: 16px;
    vertical-align: text-middle;
    margin-inline-end: 5px;
}

.support-arch{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sidebar-section{
    padding-block-end: 5px;
}

.sidebar-section div {
    display: flex;
    align-items: center;
    padding: 0;
}

.version-badges {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.version-badges li {
    margin-bottom: 5px;   
    padding: 5px 10px;   
    border-radius: 4px;
    width: 20%;
}
