.header-text{
    color: #014380;
    text-align: center;
    padding-top: 20px;
}

.search-bar{
    padding: 20px;
    text-align: center;
    border: 0;
}

.search-box {
    border-radius: 1.6rem;
    border: 0;
    outline: 0;
    background: rgba(142, 142, 147, 0.12);
    padding: 5px 10px;
    width: 75%;
}

.sort-bar{
    padding: 0px 80px 30px 80px;
}

.sort-text{
    padding: 5px 10px;
    float: right;
    width: 100px;
}
.dropdown {
    float: right;
    padding: 5px 10px;
    min-width: 160px;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.package-results{
    margin: 30px 80px;
}

.package-card{
    padding: 20px;
    margin: 30px 0px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.package-name{
    color:#4970AA;
    font-weight: bolder;
    font-size: 20px;
    float: left;
}

.package-version{
    float: right;
    text-align: right;
}

.package-description{
    padding: 40px 0px 10px 0px;
    text-align: left;
}