@media screen and (min-width: 0px) and (max-width: 499px) {
  .package-body {
    display: flex;
    min-height: 44vh;
    margin-top: 50px;
    flex-direction: column;
    margin-right: 10%;
  }

  .main-content {
    margin-left: 20px;
    width: 100%;
  }
  .side-bar {
    width: 100%;
    padding-right: 10px;
    z-index: 1;
    float: left;
    margin-left: -1%;
  }

  .package-version {
    float: left;
    text-align: right;
    /* padding: 4px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .github-btn {
    float: right;
    text-align: right;
    display: none;
  }
  .header-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin-left: 7%;
  }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .package-body {
    display: flex;
    margin: 30px 80px;
    min-height: 44vh;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 7%;
  }

  .main-content {
    margin-left: 20px;
    width: 100%;
  }
  .side-bar {
    width: 100%;
    padding-right: 10px;
    z-index: 1;
    float: left;
    margin-left: -1%;
  }

  .package-version {
    float: left;
    text-align: right;
    /* padding: 4px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .github-btn {
    float: right;
    text-align: right;
  }
  .header-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin-left: 7%;
  }
}
@media screen and (min-width: 1500px) {
  .package-body {
    display: flex;
    margin: 30px 80px;
    min-height: 44vh;
    flex-direction: column;
    margin: 70px auto;
    max-width: 1500px;
    width: 90%;
  }

  .main-content {
    margin-left: 20px;
    width: 100%;
  }
  .side-bar {
    width: 50%;
    padding-right: 10px;
    z-index: 1;
    float: left;
    margin-left: -1%;
  }

  .package-version {
    float: left;
    text-align: right;
    /* padding: 4px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .github-btn {
    float: right;
    text-align: right;
  }

  .header-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin: 70px auto;
    max-width: 1500px;
    width: 90%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1499px) {
  .package-body {
    display: flex;
    margin: 30px 80px;
    min-height: 44vh;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 6%;
  }

  .main-content {
    margin-left: 20px;
    width: 100%;
  }
  .side-bar {
    width: 50%;
    padding-right: 10px;
    z-index: 1;
    float: left;
    margin-left: -1%;
  }

  .package-version {
    float: left;
    text-align: right;
    /* padding: 4px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .github-btn {
    float: right;
    text-align: right;
  }
  .header-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #222222;
    margin-left: 7%;
  }
}

.search-bar {
  position: relative;
  left: -5px;
}

.search-box {
  left: 24px;
  right: 28px;
  top: 3px;
  bottom: 3px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background: #ffffff;
  /* Neutral Color / Grey 110 */

  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 3px 8px;
}

#sortBtn {
  float: right;
  min-width: 200px;
}

.filter-sort-text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 20px;
}

.sort-text {
  float: right;
  width: 100px;
}

.hide {
  display: none;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(142, 142, 147, 0.12);
}

.compat-card {
  margin-left: 5%;
}

.package-card {
  margin: 10px 0px;
}

.package-name {
  font-weight: bolder;
  font-size: 20px;
  float: left;
}

.package-text {
  padding: 5px 0px;
}

.package-description-more {
  color: #4970aa;
}
.hide {
  display: none;
}

.processor-status-icon {
  vertical-align: initial;
  padding: 0px 5px;
}

.processor-status {
  display: inline-block;
  padding: 0px 4px;
}

.package-card-header {
  height: 30px;
  overflow: hidden;
}

.package-card-footer {
  margin-top: 10px;
  height: 30px;
}

.unknown {
  background: #828282;
}

.total-packages {
  display: inline-block;
  margin-bottom: 0px;
}

.modal-body {
  padding: 1rem 2rem;
}

.pkg-modal-file-title {
  margin: 10px 0px 5px 0px;
}

footer {
  margin-top: 300px;
}

.tip:hover {
  position: relative;
}
.tip span {
  display: none;
}
.tip:hover span {
  display: none;
  color: #000000;
  padding: 0px 3px 0px 3px;
  display: inline-block;
  z-index: 100;
  left: 0px;
  margin: 10px;
  position: absolute;
  top: 15px;
  text-decoration: none;
  background-color: white;
  border-style: solid;
  border-radius: 2px;
  white-space: nowrap;
}

.package-description-more:hover {
  cursor: pointer;
}

.load-results {
  color: blue;
  cursor: pointer;
}

.show-package-results-number {
  position: relative;
  margin-left: 6%;
}

.checkbox-filter {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.filter-right-sort-text {
  padding-right: 5px;
  float: right;
}

.package-compatibility-text {
  font-weight: bold;
}
