.package-page-wrapper{
    /* border: 1px solid #000; */
    margin:0 auto;
    width: 80%;
}

.package-name-header{
    padding-inline: 15px;
    margin:0 auto;
    width: 100%;
    min-height: 100px;
}

.name-version-container{
    display: flex;
}
.package-name{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    padding-inline-end: 15px;
}

.package-version{
    font-size: 42px;
    color: grey;
    margin: 0;
    padding: 0;
}

.package-description{
    word-wrap: break-word;
}

.tab-container{
    border: #000;
    display: flex;
}

.dependencies-tab{
   border:#000;
   padding-inline: 5px;
}


.versions-tab{
   border: #000;
   padding-inline: 5px;
}

.port-content-tab{
   border: #000;
   padding-inline: 5px;
}

ul.tab-container {
    display: flex;
    padding-inline: 0;
    margin-inline-start: 0px;
    margin-block-start: 10px;
    border-bottom: 1px solid #000;
}

.tab {
    list-style-type: none;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px 5px 0 0;
}
.tab:hover{
    border-bottom: 2px solid #000;
    background-color: #f0f0f0;
}

.active-tab{
    background-color: #ddd;
}

.active-container{
    display: flex;
}

.active-section{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}
.active-header{
    font-size: 32px;
    font-weight: 700;
}

.card-container{
}

.dependency-card{
    border: 1px solid #00000020;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding-inline-start: 5px;
    margin-block-end: 10px;
    border-radius: 5px;
    min-height: 80px;
    display: none;
}

.dependency-card:nth-child(-n+10){
    display: block;
}

#expandButton{
    display: none;
}
.card-container:target #expandButton,
.card-container:target .dependency-card{
    display: block;
}

.sidebar-container{
    flex: 1;
    padding-inline-start: 15px;
}

.sidebar-header{
    font-size: 20px;
    font-weight: 800;
    padding-block-end: 5px;
}

.sidebar-description{
    font-size: 10px;
}

.sidebar-logo{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-inline-end: 5px;
}

.support-arch{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sidebar-section{
    padding-block-end: 5px;
}