.package-page-wrapper{
    /* border: 1px solid #000; */
    margin:0 auto;
    width: 80%;
}

.package-name-header{
    background-color: #eee;
    padding-inline: 15px;
    margin:0 auto;
    width: 100%;
    height: 100px;
}

.name-version-container{
    display: flex;
}
.package-name{
    font-size: 42px;
    font-weight: 700;
    color: #000;
    padding-inline-end: 15px;
}

.package-version{
    font-size: 42px;
    color: grey;
    margin: 0;
    padding: 0;
}

.tab-container{
    border: #000;
    display: flex;
}

.dependencies-feature-tab{
   border:#000;
   padding-inline: 5px;
}


.versions-tab{
   border: #000;
   padding-inline: 5px;
}

.port-content-tab{
   border: #000;
   padding-inline: 5px;
}

ul.tab-container {
    display: flex;
    padding-inline: 0;
    margin-inline-start: 0px;
    margin-block-start: 10px;
    border-bottom: 1px solid #000;
}

.tab {
    list-style-type: none;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px 5px 0 0;
}
.tab:hover{
    border-bottom: 2px solid #000;
    background-color: #f0f0f0;
}

.active-tab{
    background-color: #ddd;
}

.deps-and-features-container{
    display: flex;
}

.deps-and-features{
    background-color: #f1f1f1;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.main-sidebar{
    /* background-color: darkgray; */
    flex: 1;
    padding-inline-start: 15px;
}

.sidebar-header{
    font-size: 20px;
    font-weight: 800;
    padding-block-end: 5px;
}

.sidebar-description{
    font-size: 10px;
}

.sidebar-logo{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-inline-end: 5px;
}

.support-arch{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sidebar-section{
    padding-block-end: 5px;
}