<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <title>Browse public vcpkg packages</title>
    <meta name="description" content="Explore vcpkg libraries to install">
    <meta name="keywords" content="vcpkg, packages, libraries, C, C++, cpp, Microsoft, library, package manager, library manager">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons -->
    <link rel="icon" href="/assets/mark/mark.svg" />
    <link rel="icon" href="/assets/mark/favicon.png" />
    <link rel="mask-icon" href="/assets/mark/favicon-mask-icon.svg" />

    <!-- boostrap style sheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- our style sheet and fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/packages.css" rel="stylesheet" />
    <link href="/css/githubBtn.css" rel="stylesheet" />

    <!-- bootstrap scripts -->
    <script type="text/javascript"
      src="https://js.monitor.azure.com/scripts/c/ms.analytics-web-3.min.js">
    </script>
    <script src="https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"></script>

    <!-- our scripts -->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
    <script src="/dist/common.js"></script>
    <script src="/dist/packages.js"></script>

    <script>
      $(document).ready(function () {
        $('#loadNavBar').load('navbar.html');
        $('#loadFooter').load('footer.html');
      });
    </script>
  </head>

  <div id="loadNavBar"></div>
  <div id="banner"></div>
  <body>
    <div class="header-text">Browse packages</div>

    <main class="package-body" id="main">
      <div class="sort-bar">
        <div class="side-bar">
          <div class="pkg-search-bar">
            <input class="search-box" type="search" name="search" placeholder="Search Packages" autocomplete="off" v-model="searchQuery" />
            <span class="search-icon"></span>
          </div>
          <div class="show-package-results-number total-packages">
            Showing {{ truncatedList.length > 0 ? '1-' : '' }}{{ truncatedList.length }} of {{ filteredPackages.length }} packages
          </div>
        </div>
        <div class="">
          <select class="dropdown" id="sortBtn" v-model="sortBy">
            <option value="Best Match">Best Match</option>
            <option value="Alphabetical">Alphabetical</option>
            <!--<option value="GitHub Stars">GitHub Stars</option>-->
          </select>
          <span class="filter-right-sort-text">Sort By:</span>
        </div>
      </div>
      <div class="main-content">
        <div class="package-results bottom-border">
          <div class="card package-card" v-for="package in truncatedList">
            <div class="package-card-header">
              <div class="package-name">{{ package.Name }} |</div>
              <div class="package-version">Version: {{ package.version }}</div>
            </div>
            <div class="package-text"><span class="package-description-short">{{ package.Description }}</span></div>
            <div class="package-compatibility"><span class="package-compatibility-text">Compatibility:</span>
              <div class="processor-status">{{ package.compatibility }}</div>
            </div>
            <div class="vcpkg-page-link" v-on:click="package.showDetails = !package.showDetails">{{ package.showDetails ? "Hide" : "View" }} Details</div>
            <template v-if="package.showDetails">
              <div class="instructions">
                <span class="instructions-windows" :class="{'bold-text': package.tab === 'windows'}" v-on:click="package.tab = 'windows'">Windows</span>
                <span class="instructions-linux" :class="{'bold-text': package.tab === 'linux'}" v-on:click="package.tab = 'linux'">MacOS/Linux</span>
                <span class="instructions-features" :class="{'bold-text': package.tab === 'features'}" v-on:click="package.tab = 'features'">Feature List</span>
              </div>
              <div class="windowsText" v-show="package.tab === 'windows'">.\vcpkg install {{ package.Name }}</div>
              <div class="linuxText" v-show="package.tab === 'linux'">vcpkg install {{ package.Name }}</div>
              <div class="featureText" v-show="package.tab === 'features'">
                <template v-if="package.Features.length === 0">No features for this library.</template>
                <template v-else>
                  <ul class="feature-list" v-for="(feature, name) in package.Features">
                    <li>Feature Name: {{ Array.isArray(package.Features) ? feature.name || feature.Name || "" : name }}</li>
                    <li>Description: {{ feature.description || feature.Description || "" }}</li>
                    <li v-if="feature['build-depends'] || feature['Build-Depends'] || feature['dependencies']">
                      Build-Depends: {{ dependenciesAsString(feature['build-depends'] || feature['Build-Depends'] || feature['dependencies']) }}
                    </li>
                  </ul>
                </template>
              </div>
            </template>
          </div>
          <div class="card package-card" v-if="packages.length === 0">Loading ...</div>
          <div class="card package-card" v-else-if="filteredPackages.length === 0">No results for <b>{{ searchQuery }}</b></div>
        </div>
        <div v-if="sortedPackages.length !== truncatedList.length" class="load-results" v-on:click="loadMore">Load more packages</div>
      </div>
    </main>
    <script>
      const PackagesSite = {
        data() {
          return {
            queryFromHistory: false,
            searchQuery: "",
            sortBy: "Best Match",
            packages: [],
            truncatedList: []
          }
        },
        computed: {
          filteredPackages() {
            if (this.searchQuery.length === 0)
              return this.packages;
            let options = {
              findAllMatches: true,
              ignoreLocation: true,
              threshold: 0.1,
              maxPatternLength: 50,
              minMatchCharLength: 1,
              keys: ['Name', 'Description', 'Files'],
            };
            let fuse = new Fuse(this.packages, options);
            let searchResult = fuse.search(this.searchQuery).map(i => i.item);
            return searchResult.sort(searchRankFor(this.searchQuery));
          },
          sortedPackages() {
            switch (this.sortBy) {
              case 'Alphabetical':
                return this.filteredPackages.slice().sort(sortAlphabetical);
              case 'GitHub Stars':
                return this.filteredPackages.slice().sort(sortStars);
            }
            return this.filteredPackages;
          },
        },
        watch: {
          sortedPackages(val) {
            this.truncatedList = val.slice(0, 20);
          },
          searchQuery(query, oldQuery) {
            if (!this.queryFromHistory) {
              const growing = query.length === oldQuery.length + 1;
              // state is true if it was growing, and delete should only be true if we delete subsequent characters
              const deleting = window.history.state === false && query.length === oldQuery.length - 1
              if (growing || deleting) {
                window.history.replaceState(growing, query, '?query=' + query);
              } else {
                window.history.pushState(false, query, '?query=' + query);
              }
            } else {
              this.queryFromHistory = false;
            }
          },
        },
        methods: {
          loadMore() {
            this.truncatedList = this.sortedPackages.slice(0, this.truncatedList.length + 20);
          },
          dependenciesAsString(dependencies) {
            if (typeof dependencies === "string")
              return dependencies;
            let s = "";
            for (let d of dependencies) {
              if (typeof d === "string") {
                s += ", " + d;
              } else {
                s += ", " + d.name;
                let features = []

                if (d["default-features"] === false)
                  features.push("core");
                if (d["features"])
                  features = features.concat(d["features"]);
                if (features.length > 0)
                  s += "[" + features.join(", ") + "]";
                if (d["platform"])
                  s += " (" + d["platform"] + ")"
              }
            }
            return s.substring(2);
          }
        },
        mounted() {
          this.searchQuery = getUrlParameter('query');
          window.onpopstate = (event) => {
            this.queryFromHistory = true;
            this.searchQuery = getUrlParameter('query');
          };
          $.getJSON('../output.json', responseObject => {
            let packages = responseObject.Source;
            for (let package of packages) {
              package.version = package.Version || package["Version-semver"] || package["Version-date"];
              let platformPassesString = "";
              for (let triplet of triplets) {
                if (package[triplet] === 'pass') {
                  platformPassesString += ", " + triplet;
                }
              }
              package.compatibility = platformPassesString.substring(2);
              package.showDetails = false;
              package.tab = 'features';
            }
            this.packages = packages;
          });
        }
      }
      Vue.createApp(PackagesSite).mount('#main')

    </script>
    <div id="loadFooter"></div>
  </body>
</html>
