<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Get started with vcpkg</title>
    <meta name="description" content="vcpkg C/C++ getting started tutorial for Windows, macOS, and Linux">
    <meta name="keywords" content="vcpkg, tutorial, getting started, Windows, macOS, Linux, C, C++, cpp, Microsoft, library, libraries, package manager, library manager">
    <meta name="viewport" content="width=device-width">

    <!-- our style sheet and fonts -->
    <link href="/css/getting-started.css" rel="stylesheet" />

    {{{commonhead}}}

    <!-- our scripts -->
    <script src="/dist/getting-started.js"></script>
  </head>
  <body>
    <div id="cookie-banner"></div>
    <div id="loadNavBar">{{{navbar}}}</div>
    <div tabindex="-1" role="main" id="main">
    <div class="header-text-getting-started"><h1>Get started with vcpkg</h1></div>
    <div class="page">
      <nav class="left-side-getting-started">
        <div role="tablist">
          <button class="tab-btn gs-tab-btn" id="gs-btn-windows" aria-selected="true" aria-label="Windows tab" role="tab">Windows</button>
          <button class="tab-btn gs-tab-btn" id="gs-btn-linux" aria-selected="false" aria-label="Linux tab" role="tab">Linux</button>
          <button class="tab-btn gs-tab-btn" id="gs-btn-mac" aria-selected="false" aria-label="MacOS tab" role="tab">MacOS</button>
        </div>
        <div class="prerequisite-list">
          <div class="text-heading"><h2>Prerequisites</h2></div>
          <ul class="col-md-11 windows">
            <li>Windows 7 or newer</li>
            <li>Git</li>
            <li>Visual Studio 2015 Update 3 or newer</li>
          </ul>

          <ul class="col-md-11 linux">
            <li>Git</li>
            <li>g++ >= 6</li>
          </ul>

          <ul class="col-md-11 mac">
            <li>Apple Developer Tools</li>
            <li>On macOS 10.14 or below, you will also need:</li>
            <li style="list-style: none;">
              <ul>
                <li>Homebrew</li>
                <li>g++ >= 6 from Homebrew</li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="right-side-getting-started">
        <div class="windows">
          <div class="text-heading"><h2>Install vcpkg</h2></div>
          <div class="text-desc">
            <p>
              Installing vcpkg is a two-step process: first, clone the repo, then run the bootstrapping script
              to produce the vcpkg binary. The repo can be cloned anywhere, and will include the vcpkg binary
              after bootstrapping as well as any libraries that are installed from the command line. It is recommended
              to clone vcpkg as a submodule for CMake projects, but to install it globally for MSBuild projects. If
              installing globally, we recommend a short install path like: 
              <span class="code-inline">C:\src\vcpkg</span> or
              <span class="code-inline">C:\dev\vcpkg</span>, since otherwise you may run into path
              issues for some port build systems.
            </p>

            <p><b>Step 1: Clone the vcpkg repo</b></p>
            <p class="code">git clone https://github.com/Microsoft/vcpkg.git</p>
            <p>Make sure you are in the directory you want the tool installed to before doing this.</p> 

            <p><b>Step 2: Run the bootstrap script to build vcpkg</b></p>
            <p class="code">.\vcpkg\bootstrap-vcpkg.bat</p>
          </div>
          <div class="text-heading"><h2>Install libraries for your project</h2></div>
          <div class="text-desc">
            <p class="code">vcpkg install [packages to install]</p>
          </div>
          <div class="text-heading"><h2>Using vcpkg with MSBuild / Visual Studio (may require elevation)</h2></div>
          <div class="text-desc">
            <p class="code">vcpkg integrate install</p>
            <p>
              After this, you can create a new project or open an existing one in the IDE. All
              installed libraries should already be discoverable by IntelliSense and usable in code
              without additional configuration.
            </p>
          </div>
          <div class="text-heading"><h2>Using vcpkg with CMake</h2></div>
          <div class="text-desc">
            In order to use vcpkg with CMake outside of an IDE, you can use the toolchain file:
            <p class="code">
              cmake -B [build directory] -S . -DCMAKE_TOOLCHAIN_FILE=[path to
              vcpkg]/scripts/buildsystems/vcpkg.cmake
            </p>

            <p>Then build with:</p>
            <p class="code">cmake --build [build directory]</p>
            <p>
              With CMake, you will need to use
              <span class="code-inline">find_package()</span>
              to reference the libraries in your Cmakelists.txt files. 
            </p>
          </div>
        </div>
        <div class="linux">
          <div class="text-heading">Install vcpkg</div>
          <div class="text-desc">
            <p>
              Installing vcpkg is a two-step process: first, clone the repo, then run the bootstrapping script
              to produce the vcpkg binary. The repo can be cloned anywhere, and will include the vcpkg binary
              after bootstrapping as well as any libraries that are installed from the command line. It is recommended
              to clone vcpkg as a submodule to an existing project if possible for greater flexibility. 
            </p>
            <p><b>Step 1: Clone the vcpkg repo</b></p>
            <p class="code">git clone https://github.com/Microsoft/vcpkg.git</p>
            <p>Make sure you are in the directory you want the tool installed to before doing this.</p>

            <p><b>Step 2: Run the bootstrap script to build vcpkg</b></p>
            <p class="code">./vcpkg/bootstrap-vcpkg.sh</p>
          </div>
          <div class="text-heading">Install libraries for your project</div>
          <div class="text-desc">
            <p class="code">vcpkg install [packages to install]</p>
          </div>
          <div class="text-heading">Using vcpkg with CMake</div>
          <div class="text-desc">
            In order to use vcpkg with CMake outside of an IDE, you can use the toolchain file:
            <p class="code">
              cmake -B [build directory] -S . -DCMAKE_TOOLCHAIN_FILE=[path to
              vcpkg]/scripts/buildsystems/vcpkg.cmake
            </p>

            <p>Then build with:</p>
            <p class="code">cmake --build [build directory]</p>
            <p>
              With CMake, you will need to
              <span class="code-inline">find_package()</span>
              to reference the libraries in your Cmakelists.txt files.
            </p>
          </div>
        </div>
        <div class="mac">
          <div class="text-heading">Install vcpkg</div>
          <div class="text-desc">
            <p>
              Installing vcpkg is a two-step process: first, clone the repo, then run the bootstrapping script
              to produce the vcpkg binary. The repo can be cloned anywhere, and will include the vcpkg binary
              after bootstrapping as well as any libraries that are installed from the command line. It is recommended
              to clone vcpkg as a submodule to an existing project if possible for greater flexibility. 
            </p>
          <p><b>Step 1: Clone the vcpkg repo</b></p>
            <p class="code">git clone https://github.com/Microsoft/vcpkg.git</p>
            <p>Make sure you are in the directory you want the tool installed to before doing this.</p>
          <p><b>Step 2: Run the bootstrap script to build vcpkg</b></p>
            <p class="code">./vcpkg/bootstrap-vcpkg.sh</p>
          </div>
          <div class="text-heading">Install libraries for your project</div>
          <div class="text-desc">
            <p class="code">vcpkg install [packages to install]</p>
          </div>
          <div class="text-heading">Using vcpkg with CMake</div>
          <div class="text-desc">
            In order to use vcpkg with CMake outside of an IDE, you can use the toolchain file:
            <p class="code">
              cmake -B [build directory] -S . -DCMAKE_TOOLCHAIN_FILE=[path to
              vcpkg]/scripts/buildsystems/vcpkg.cmake
            </p>

            <p>Then build with:</p>
            <p class="code">cmake --build [build directory]</p>
            <p>
              With CMake, you will need to
              <span class="code-inline">find_package</span>
              to reference the libraries in your Cmakelists.txt files.
            </p>
          </div>
        </div>
        <div class="text-desc">
          Browse the 
          <a class="link" href="docs/README.html">vcpkg documentation</a>
          to learn more about how to enable different workflows. 
        </div>
      </div>
    </div>
    </div>
    <div id="loadFooter">{{{footer}}}</div>
  </body>
</html>
