<nav class="navbar-background navbar navbar-expand-lg navbar-light fixed-top">
  <a href="#main" class="main-link" tabindex="10000">Skip to Main Content</a>
  <a class="navbar-brand align-baseline" href="/en/index">
    <span id="vcpkg-nav-logo" class=""
      ><img src="/assets/mark/mark.svg" width="16px" height="16px" alt="" class="icon" />
      vcpkg</span
    >
  </a>
  <button class="navbar-toggler" type="button" onclick="toggleNavIcon()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="navbar-toggler hidden" type="button" onclick="toggleNavIcon()">
    <span class="navbar-close hidden"></span>
  </button>
  <div class="collapse navbar-collapse align-items-center nav-vcpkg-bar" id="navbarResponsive">
    <ul class="navbar-nav ml-auto navbar-right-margin">
      <li class="nav-item active" onmouseover="addMouseLeave()">
        <a class="nav-link nav-link-hover" href="/en/getting-started">Get Started </a>
      </li>
      <li class="nav-item active" onmouseover="addMouseLeave()">
        <a class="nav-link nav-link-hover" href="/en/packages">Packages</a>
      </li>
      <li class="nav-item active" onmouseover="addMouseLeave()">
        <a class="nav-link nav-link-hover" href="https://learn.microsoft.com/vcpkg">Documentation</a>
      </li>
      <li class="nav-item active" onmouseover="addMouseLeave()">
        <a class="nav-link nav-link-hover" href="https://github.com/microsoft/vcpkg">GitHub</a>
      </li>
      <li class="nav-item active" onmouseover="addMouseLeave()">
        <a class="nav-link nav-link-hover" href="https://devblogs.microsoft.com/search?query=vcpkg">Blog</a>
      </li>
    </ul>
  </div>

  <div class="mobile-nav hidden">
    <div class="mobile-margin">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="navbar-mobile" href="/en/getting-started">Get Started</a>
        </li>
        <li class="mobile-nav-item">
          <a class="navbar-mobile" href="/en/packages">Packages</a>
        </li>
        <li class="mobile-nav-item"><a class="navbar-mobile" href="/en/docs/README">Documentation</a></li>
        <li class="mobile-nav-item">
          <a class="navbar-mobile" href="https://github.com/microsoft/vcpkg">Github</a>
        </li>
        <li class="mobile-nav-item">
          <a class="navbar-mobile" href="https://devblogs.microsoft.com/search?query=vcpkg">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="docs-nav" onmouseleave="addMouseLeave()">
  <div class="docs-flex">
    <div class="docs-column">
      <ul class="docs-col-section">
        <li class="docs-col-bold">
          <a class="docs-nav-link" href="/en/docs/README">Quick Start</a>
        </li>
      </ul>

      <ul class="docs-col-section">
        <li class="docs-col-bold">About</li>
        <li class=""><a class="docs-nav-link" href="/en/docs/about/faq">FAQ</a></li>
        <li class=""><a class="docs-nav-link" href="/en/docs/about/privacy">Privacy</a></li>
      </ul>
    </div>
    <div class="docs-column">
      <ul class="docs-col-section">
        <li class="docs-col-bold">Examples</li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/examples/installing-and-using-packages"
            >Installing and Using Packages</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/examples/modify-baseline-to-pin-old-boost"
            >Modifying Baseline to pin old Boost versions</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/examples/overlay-triplets-linux-dynamic"
            >Overlay Triplets Linux Dynamic</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/examples/packaging-github-repos"
            >Packaging Github Repos</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/examples/patching">Patching</a>
        </li>
      </ul>
    </div>
    <div class="docs-column">
      <ul class="docs-col-section">
        <li class="docs-col-bold">Maintainers</li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/maintainers/control-files">Control Files</a>
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/maintainers/maintainer-guide"
            >Maintainer Guide</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/maintainers/manifest-files"
            >Manifest Files</a
          >
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/maintainers/portfile-functions"
            >Portfile Functions</a
          >
        </li>
      </ul>
    </div>
    <div class="docs-column">
      <ul class="docs-col-section">
        <li class="docs-col-bold">Users</li>
        <li class=""><a class="docs-nav-link" href="/en/docs/users/android">Android</a></li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/users/binarycaching">Binary Caching</a>
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/users/buildsystems/integration">Integration</a>
        </li>
        <li class="">
          <a class="docs-nav-link" href="/en/docs/users/versioning"
            >Versioning</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
