<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <title>vcpkg-package</title>
    <meta name="description" content="Explore vcpkg libraries to install">
    <meta name="keywords" content="vcpkg, packages, libraries, C, C++, cpp, Microsoft, library, package manager, library manager">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- additional stylesheets and fonts -->
    <link href="/css/packages.css" rel="stylesheet" />
    <link href="/css/githubBtn.css" rel="stylesheet" />

    {{{commonhead}}}
  </head>

  <div id="loadNavBar">{{{navbar}}}</div>
  <div id="banner"></div>
  <body>
    <div tabindex="-1" role="main" id="main">
    <div class="text-heading">
      <h2>Package Information</h2>
    </div>
    </div>
    <div id="loadFooter">{{{footer}}}</div>
  </body>
</html>
