<!DOCTYPE html>
<html lang="en" class="js">
<head>
  <title>vcpkg package - {{{package.Name}}}</title>
  <meta name="description" content="Explore vcpkg libraries to install">
  <meta name="keywords"
    content="vcpkg, packages, libraries, C, C++, cpp, Microsoft, library, package manager, library manager">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- additional stylesheets and fonts -->
  <link href="/css/pretty-package.css" rel="stylesheet" />
  <link href="/css/githubBtn.css" rel="stylesheet" />

  {{{commonhead}}}
</head>
<div id="loadNavBar">{{{navbar}}}</div>
<div id="banner"></div>
<body>
  <main class="package-body" id="main">
    <div class="package-page-wrapper">
        <div class="package-name-header">
            <div class="name-version-container">
                <div class="package-name">
                    {{{package.Name}}}
                </div>
                <div class="package-version">
                    v{{{package.Version}}}{{#package.PortVersion}}#{{package.PortVersion}}{{/package.PortVersion}}
                </div>
            </div>
            <div class="package-description">
                {{{package.Description}}}
            </div>
        </div>
        <ul class="tab-container">
            <li class="dependencies-tab tab active-tab">
                Dependencies
            </li>
            <li class="features-tab tab">
                Features
            </li>
            <li class="versions-tab tab">
                Versions
            </li>
            <li class="port-content-tab tab">
                Port Content
            </li>
        </ul>
        <div class="active-container">
            <div class="active-section">
                <div class="active-header">Dependencies</div>
                <div class="card-container">
                    {{#dependencies}}
                    <div class="dependency-card">
                      <a href="{{name}}.html">{{name}}</a>
                      {{#host}} <i>(host: true)</i>{{/host}}
                      {{#platform}} <i>(platform: {{platform}})</i>{{/platform}}
                      {{#versionMinimum}} <i>(version>=: {{versionMinimum}})</i>{{/versionMinimum}}
                    </div>
                    {{/dependencies}}
                    {{^dependencies}}
                    <div class="dependency-card">No Dependencies</div>
                    {{/dependencies}}
                </div>
                <button id="expandButton">Expand for more</button>
            </div>
            <div class="sidebar-container">
                <div class="sidebar-header">Metadata</div>
                <div class="sidebar-section">
                    <div><img class="sidebar-logo" src="/assets/package-pages/scale-balanced-solid.svg" alt="License:"> {{{package.License}}}{{^package.License}}null{{/package.License}}</div>
                    <div><img class="sidebar-logo" src="/assets/package-pages/wrench-solid.svg" alt="Last Updated:"> {{{package.LastUpdated}}}{{^package.LastUpdated}}Unknown{{/package.LastUpdated}}</div>
                </div>
                <div class="sidebar-header">Supports</div>
                <div class="sidebar-description">This package supports the following triplets:</div>
                <div><pre class="support-arch">{{{package.supportedArchitectures}}}</pre></div>
                <div class="sidebar-section">
                    <div class="sidebar-header">Documentation</div>
                    <div>
                        <img class="sidebar-logo" src="/assets/package-pages/book-solid.svg" alt="Documentation:">
                        {{#package.Documentation}}
                        <a href="{{{package.Documentation}}}">{{{package.Documentation}}}</a>
                        {{/package.Documentation}}
                        {{^package.Documentation}}
                        Unavailable
                        {{/package.Documentation}}
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-header">Homepage</div>
                    <div>
                        <img class="sidebar-logo" src="/assets/package-pages/house-solid.svg" alt="Documentation:">
                        {{#package.Homepage}}
                        <a href="{{{package.Homepage}}}">{{{package.Homepage}}}</a>
                        {{/package.Homepage}}
                        {{^package.Homepage}}
                        Unavailable
                        {{/package.Homepage}}
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="sidebar-header">Install</div>
                    <div class="sidebar-description">In classic mode, run the following vcpkg command:</div>
                    <pre> vcpkg install {{{package.Name}}}</pre>
                    <div class="sidebar-description">In manifest mode, run the following vcpkg command in your project directory:</div>
                    <pre> vcpkg add port {{{package.Name}}}</pre>
                </div>
            </div>
        </div>
    </div>
  </main>
  <div id="loadFooter">{{{footer}}}</div>
  <script src="/dist/pretty-package.js"></script>
</body>
</html>