<!DOCTYPE html>
<html lang="en" class="js">
<head>
  <title>vcpkg package - {{{package.Name}}}</title>
  <meta name="description" content="Explore vcpkg libraries to install">
  <meta name="keywords"
    content="vcpkg, packages, libraries, C, C++, cpp, Microsoft, library, package manager, library manager">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- additional stylesheets and fonts -->
  <link href="/css/pretty-package.css" rel="stylesheet" />
  <link href="/css/githubBtn.css" rel="stylesheet" />

  {{{commonhead}}}
</head>
<div id="loadNavBar">{{{navbar}}}</div>
<div id="banner"></div>
<body>
  <main class="package-body" id="main">
    <div class="package-page-wrapper">
        <div class="package-name-header">
            <div class="name-version-container">
                <div class="package-name">
                    {{{package.Name}}}
                </div>
                <div class="package-version">
                    v{{{package.Version}}}
                </div>
            </div>
            <div class="package-description">
                {{{package.Description}}}
            </div>
        </div>
        <ul class="tab-container">
            <li class="dependencies-feature-tab">
                Dependencies & Features
            </li>
            <li class="versions-tab">
                Versions
            </li>
            <li class="port-content-tab">
                Port Content
            </li>
        </ul>
        <div class="deps-and-features-container">
            <div class="deps-and-features">
                Dependencies and Features
            </div>
            <div class="main-sidebar">
                Metadata
            </div>
        </div>
    </div>
  </main>
  <div id="loadFooter">{{{footer}}}</div>
</body>
</html>